{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "node": "current",
        },
        "forceAllTransforms": false
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-modules-commonjs",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-proposal-export-namespace-from",
    "@babel/plugin-proposal-object-rest-spread",
    ["module-resolver", {
      "root": ["."],
      "alias": {
        "@config": "./app/config",
        "@db": "./app/database",
        "@lib": "./app/lib",
        "@locales": "./app/locales",
        "@middleware": "./app/middleware",
        "@models": "./app/models",
        "@schema": "./app/schema",
        "@spec": "./test/spec",
        "@support": "./test/support",
        "@factories": "./test/factories"
      }
    }]
  ]
}
